/* universal selector */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header style starts */

header{
    background-color: blue;
    margin-bottom: 90px;
 }

nav{
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

nav ul{
    list-style-type: none;

}

nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: .2s ease-in;
    font-size: 18px;

}

nav ul a:hover{
    background-color: rgb(130, 106, 236);
    color: white;
}

.heading{
    margin-left: 150px;
    padding: 10px;
}
h1{
    font-weight: 900px;
    color: white;
}

button{
    padding: 10px 30px;
    background-color: rgb(230, 72, 72);
    color: white;
    border: none;
}

i{
    margin-left: 10px;
}

.head-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.head-banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: .2s ease;
}

.head-banner img:hover{
    transform: scale(1.05);
}

/* header style ends */


/* main section css start */

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 120px;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 70px;
    
    
}

.item{
   
    box-shadow: 0 4px 8px 0 rgba(43, 43, 43, 0.2) ;
    background-color: honeydew;
    
}

.item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    
}

.item img:hover{
    transform: scale(1.03);
}

.item h3, p{
    padding: 10px;
    cursor: pointer;

}

h2{
    margin-left: 120px;
}

.fixture{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 120px;
    margin-bottom: 70px;
    grid-gap: 30px;
}

.fixture img{
    height: 15px;
    padding: 0 5px;
}

.schedule h4 p{
    text-align: right;
}

@media screen and (max-width:1000px){
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1000px){
    .fixture {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px){
    .fixture {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* main section css ends */

/* footer style starts */

footer{
    background-color: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

}

.footer-logo img{
    height: 85px;
}


.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-social img{
    height: 30px;
    padding: 0 5px;
}

.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    text-transform: capitalize;
    word-spacing: 2px;
}

/* footer style ends */
